@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* mes classes générique */
.top-70{
    top: 70%;
}
/* FIN mes classes générique */

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 180px;
    margin: 0 !important;
}

h3 {
    font-size: 15px;
    padding: 0;
    margin-bottom: 1px;
}

h2 {
    padding: 0 10px 0 10px;
    margin: 0;
    font-size: 25px;
}

h5 {
    font-size: 15px;
    margin: 0
}

p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

/* NAV BAR */



.banderol{
    display: none;
}
/* .banderol {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    z-index: 1;
} */

.banderol a {
    text-decoration: none;
    color: black;
}



.nav-item{
    padding: 10px ;
}
.nav-item:hover{
    background-color: #daa520
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}



.phone {
    width: 10px;
}

.text-start {
    /* font-size: 10px; */
    display: flex;
    align-items: center;
}

.navlien1 {
    width: 100%;
    height: auto;
    text-size-adjust: auto;
}


.link:hover {
    color: goldenrod!important;
}

.coor {
    margin-right: 140px;
}

.coor p {
    font-size: 0.9rem;
    width: 100%
}

#numberPhone {
    /* margin-left: 400px; */
    color: rgb(255, 255, 255);
    /* display: grid; */
}

.a_hover:hover {
    background-color: #daa520;
}

.img-reseau {
    margin-left: 250px;
}

.btn-burger {
    border: 1px solid rgb(255, 255, 255);
}

/* SLIDER */

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 100%;
}


.carousel-caption {
    font-family: 'Bebas Neue', sans-serif;
    height: 50%;
    /* margin-bottom: 5rem; */
}

.carousel-caption p {
    /* margin-bottom: 3rem; */
    font-size: 12px;
}

.button1 {
    width: 150px !important;

}
.btntt {
    background-color: rgba(255, 255, 255, 0);
    padding: 7px 15px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}
  


/* CORPS DE TEXTE */

.ptext {
    text-align: justify !important;
}

.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.taille {
    height: 410px;
    color: white;
    padding: 10px;
    margin: 0;
}

.card {
    border: none;
}

.imagebox {
    height: 235px;
    object-fit: cover;
}

.training {
    background-image: url(../assets/img/activites/bg_activite_1.jpg);
    background-size: cover;
}

.cycling {
    background-image: url(../assets/img/activites/bg_activite_2.jpg);
    background-size: cover;
}

.fonctionnel {
    background-image: url(../assets/img/activites/bg_activite_3.jpg);
    background-size: cover;
}

.crossfit {
    background-image: url(../assets/img/activites/bg_activite_4.jpg);
    background-size: cover;
}

.image {
    width: 55px;
}

.mainlink {
    text-decoration: none;
    color: white;
}

.imglink {
    width: 30px;
    border-radius: 30px;
}

.imglink:hover {
    width: 180px;
    height: 2px;
    border-radius: 30px;
}

.mainlink1 {
    text-decoration: none;
    color: black;
}

.imglink1 {
    width: 30px;
    border-radius: 30px;
}

.imglink1:hover {
    width: 85px;
    height: 2px;
    border-radius: 30px;
}

/* FOOTER */

.footer {
    background-color: #323334;
}

.bgfooter {
    background-color: #212020;
}

.textfooter {
    margin-left: 10rem;
}

.textfooter2 {
    margin-right: 7rem;
}

.gold-text {
    color: goldenrod;
}

.logo {
    margin-left: 15rem;
    margin-right: 15rem;
}

.logo364 {
    padding: 0!important;
}

.titre_blanc {
    width: 12px;
    height: 1px;
}

.logo-footer {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: left !important;
}

.logo364 {
    width: 50px;
    height: 25px;
    object-fit: contain;
    object-position: left !important;
}

.lienfooter {
    text-decoration: none;
    color: white;
}

.lienfooter:hover {
    color: goldenrod;
}

/* LA PRESENTATION */


.carousel-indicators button {
    height: 10px !important;
    /* hauteur de la pagination */
    width: 10px !important;
    /* largeur de la pagination */
    border-radius: 100%;
    /* bordure ronde de la pagination */
}


/* Appliquer le style au conteneur parent du paragraphe */
.carousel-caption {
    font-family: 'Bebas Neue', sans-serif;
    /* height: 50%; */
    /* Assure que le conteneur prend toute la hauteur disponible / div: p/btn */
    /* margin-bottom: 5rem; */
    /* Ajoutez une marge / l'espace entre le texte et le bouton */
}

.a {
    text-decoration: none;
    color: white;
}

.bg {
    background-color: goldenrod;
}

/* CONTACT */

input,
textarea {
    border: none;
}

.prenom-nom {
    display: grid;
    grid-template-columns: 55% 40%;
}

.prenom-nom input {
    height: 40px;
    margin: 10px;
    /* border: none; */
}

.tel-email {
    display: grid;
    grid-template-columns: 40% 55%;
}

.tel-email input {
    height: 40px;
    margin: 10px;
    /* border: none; */
}

.sujet {
    display: grid;
    grid-template-columns: 95%;
}

.sujet input {
    margin: 10px;
    height: 40px;
}

textarea {
    /* margin: 10px; */
    /* display: grid; */
    width: 860px;
    height: 200px;
    resize: none;
    margin-top: 10px;

}

::placeholder {
    color: black;
    padding: 15px;
    /* font-variant-emoji: 5px; */
}

.buttonSubmit {
    border: none;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daa520;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.coord {
    margin-left: 15px;
}

.section-con {
    margin: 100px 180px 120px 180px;
    flex-wrap: wrap;
}

.mapdiv {
    height: auto;
}

.map {
    object-fit: cover;
}

/* PAGE 404 */

.error {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visuel1 {
    width: 100%;
    height: 225px;
    object-fit: cover;
}
@media screen and (min-width: 992px){
    .nav-item{
        padding: 30px 10px ;
    }
    .w-lg-90
    {
        width: 90%!important;
    }
    .bg-dark{
     background-color: transparent!important;
    }
    .carousel-caption p {
        /* margin-bottom: 3rem; */
        font-size: 25px;
    }
}
@media screen and (max-width: 768px){
    .width-25{
        width: 25%;
    }

    
    
  
}

@media screen and (min-width:1400px) {
    .banderol {
        position: relative;
        clip-path: polygon(0 0, 100% 0%, 100% 67%, 49% 100%, 0 69%);
        width: 40px;
        height: 50px;
        background-color: goldenrod;
        /* right: 5%; */
        font-size: 0.9rem;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -18px;
    }
    /* .nav-item {
        width: 100px;
    }
    .navlien {
        width: 100%;
        font-size: 0.5rem;
    } */

    /* .carousel {
        height: 150px;
    } */
}

@media (min-width:1110px) and (max-width:1726px) {
    /* .nav-item {
        width: 150px;
    }

    .navlien {
        width: 100%;
        font-size: 1rem;
    }

    #numberPhone {
        width: 150px;
        margin-left: 65px;
    }

    .carousselresponsive {
        height: 10rem;
    } */
}